@model List<Shoe4U.Models.Orders.OrderDetailsOutputModel>

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Поръчки</h1>
                    <ol class="breadcrumb">
                        <li><a asp-action="Details">Профил</a></li>
                        <li class="active">Поръчки</li>
                    </ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
                    <li><a asp-action="Details">Детайли за профила</a></li>
                    <li><a asp-action="Orders" class="active">Поръчки</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Тел. номер</th>
                                <th>Адрес</th>
                                <th>Продукти</th>
                                <th>Общо</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var order in Model)
                            {
                                <tr>
                                    <td>@order.Id</td>
                                    <td>@order.PhoneNumber</td>
                                    <td>@order.Address</td>
                                    <td>
                                        @foreach (var product in order.Products)
                                        {
                                            <p>@product.Name (Номер на продукт: @product.Id)</p>
                                        }
                                    </td>
                                    <td>@order.TotalSum лв.</td>
                                </tr>
                            }
                            </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
